@charset "utf-8";

@import "variables";
@import "~bulma";

.bg-black {
  background-color: #444;
}
.logo {
  margin-left: 5px;
  img {
    width: 98px;
    height: 28px;
  }
}
.is-brand {
  font-size: 20px;
}

.list-group{
  .menu{
    box-shadow: none;
  }
}
.side-nav {
  border-right: 1px solid #e9e9e9;
}
